<template>
    <div class="messages">
        Messages
    </div>
</template>

<script>
    import {eventBus} from '../../main';

    export default {
        name: 'Messages',
        data: function () {

        },
        methods: {

        }

    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>
