<template>

    <div class="news-feed">
        NewsFeed
    </div>
</template>

<script>

    export default {
        name: 'NewsFeed',
        data: function () {
            return {

            };
        },
        methods: {

        }

    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>
