<template>

    <div class="public-wall">
        PublicWall
    </div>
</template>

<script>
    import {eventBus} from '../../main';

    export default {
        name: 'PublicWall',
        data: function () {
            return {

            };
        },
        methods: {

        }

    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>
