<template>
    <div class="page__panel page__panel_left">
        <h1>{{ msg }}</h1>
        Left Panel
    </div>
</template>

<script>
    export default {
        name: 'LeftPanel',
        props: {
            msg: String
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
    .page__panel {
        height: 100%;
        min-height: 100%;
        background-color: #fff;
    }

    .page__panel_left {
        z-index: 3;
        display: inline-block;
        position: relative;
        margin-left: 60px;
        -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    }

</style>
