<template>
    <div class="map page__map">
    </div>
</template>

<script>
    export default {
        name: 'Map',
        props: {
            msg: String
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
    .map {
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        overflow: hidden;
        opacity: 0.95;
        background-color: #fafafa;
    }
</style>