<template>
    <div ref="panel" v-show="activePanel == 'profile'" class="page__panel page__panel_left panel panel_width_320">
        <div class="controls profile__controls panel__padding">
            <div class="controls__block">
                <a href="#" class="button button_features"></a>
            </div>
            <div class="controls__block">
                <a ref="panelSlider" class="button controls__button" v-bind:class="buttonClass" @mousedown="moveStart"
                   @touchstart="moveStart"></a>
                <a href="#" class="button button_close controls__button" @click="closePanel"></a>
            </div>
        </div>
        <div class="header profile__header panel__padding">
            <div class="header__controls">
                <a href="#" class="button button_showroom header__button" onclick="show_tab(5,'left')"></a>
                <a href="#" class="button button_mailbox header__button"></a>
            </div>
            <div class="header__userpic"></div>
            <div class="header__controls">
                <a href="#" class="button button_newsfeed header__button" onclick="show_tab(6,'left')"></a>
                <a href="#" class="button button_guestbook header__button"></a>
            </div>
            <h2 class="header__user-name">Мухацокотуха</h2>
            <div class="header__iser-info">Участник / 2 уровня</div>
        </div>
        Left Panel Profile
        {{currentDelta}}
        <PersonalInfo></PersonalInfo>
        <Workshop></Workshop>
        <Messages></Messages>
        <NewsFeed></NewsFeed>
        <PublicWall></PublicWall>
    </div>
</template>

<script>
    import PersonalInfo from './profile/PersonalInfo.vue'
    import Workshop from './profile/Workshop.vue'
    import Messages from './profile/Messages.vue'
    import NewsFeed from './profile/NewsFeed.vue'
    import PublicWall from './profile/PublicWall.vue'

    import {eventBus} from '../main';

    export default {
        name: 'Profile',
        components: {
            PersonalInfo,
            Workshop,
            Messages,
            NewsFeed,
            PublicWall,
        },
        props: {
            msg: String
        },
        data: function () {
            return {
                widthChanging: false,
                visible: false,
                fullSideBarWidth: 60,
                activePanel: '',
                CurrentWidth: 320,
                shiftX: 0,
                buttonType: 'min',
                startX: 0,
                delta: 0,
                pageWidth: 0,
            }
        },
        computed: {
            slider() {
                return this.$refs.panelSlider;
            },
            currentDelta() {
                return (this.delta + 0);
            },
            maximum() {
                if (this.pageWidth <= 320) {
                    return 260;
                }
                else if (this.pageWidth > 320 && this.pageWidth <= 381) {
                    return (this.pageWidth - this.fullSideBarWidth);
                }
                else if (this.pageWidth >= 382 && this.pageWidth < 421) {
                    return (this.pageWidth - this.fullSideBarWidth);
                }
                else if (this.pageWidth >= 421 && this.pageWidth < 481) {
                    return (this.pageWidth - this.fullSideBarWidth);
                }
                else if (this.pageWidth >= 481 && this.pageWidth < 768) {
                    return 420;
                }
                else if (this.pageWidth >= 768 && this.pageWidth < 960) {
                    return 420;
                }
                else if (this.pageWidth >= 960 && this.pageWidth < 1200) {
                    return 480;
                }
                else if (this.pageWidth >= 1200 && this.pageWidth <= 1920) {
                    return 520;
                }
                else {
                    return 520;
                }
            },
            minimum() {
                if (this.pageWidth < 380) {
                    return 260;
                }
                else {
                    return 320;
                }
            },
            buttonClass() {
                return 'button_change-width_' + this.buttonType;
            }

        },
        methods: {
            togglePanel: function () {
                eventBus.$emit('togglePanel', 'profile');
             //   this.visible = true;
            },
            closePanel: function () {
                eventBus.$emit('togglePanel', {
                    panelName: 'none'
                });
            },
            bindEvents: function () {
                document.addEventListener('mousemove', this.moving);
                document.addEventListener('mouseup', this.moveEndUp);
                document.addEventListener('mouseleave', this.moveEnd);
                window.addEventListener('resize', this.refresh)
            },
            getPos: function (e) {
                console.log('[getPos] x:', e.clientX);
            },
            getShiftX: function () {
                if (this.$refs.panelSlider) {
                    this.shiftX = this.$refs.panelSlider.getBoundingClientRect().left
                }
            },
            changeWidth: function () {
                console.log('мышь нажата');
            },
            moveStart: function (e, index) {
                this.widthChanging = true;
                e.preventDefault();
                this.$emit('dragStart', this)
                console.log('[moveStart] Flag:', this.widthChanging);
                console.log('[moveStart] Flag:', e.target);
                this.startX = e.clientX;
                console.log('[moveStart] startX:', this.startX);
                this.getShiftX();
                console.log('[moveStart] shiftX:', e.clientX - this.shiftX);

            },
            moving(e) {
                if (!this.widthChanging) return false;
                e.preventDefault();
                this.delta = e.clientX - this.startX
                console.log('mouse is moving');
                console.log('[moving] Flag:', this.widthChanging);
                console.log('[moving] Delta:', this.delta);
                if (this.$refs.panel.offsetWidth + this.delta > this.maximum) {
                    this.$refs.panel.style.width = this.maximum + "px";
                    this.buttonType = 'max';
                }
                else if (this.$refs.panel.offsetWidth + this.delta < this.minimum) {
                    this.$refs.panel.style.width = this.minimum + "px";
                    this.buttonType = 'min';
                }
                else {
                    this.$refs.panel.style.width = this.$refs.panel.offsetWidth + this.delta + "px";
                    this.buttonType = 'middle';
                }

                this.startX = this.startX + this.delta;
                this.getPos(e);
                console.log('[moving] Maximum:', this.maximum);
            },
            moveEnd(e) {
                if (this.widthChanging) {
                    this.$emit('dragEnd', this)
                } else {
                    return false
                }
                this.widthChanging = false;
                console.log('[moveEnd] Flag:', this.widthChanging);
            },
            moveEndUp(e) {
                if (this.widthChanging) {
                    this.$emit('dragEnd', this);
                    console.log('[moveEndUp] Flag:', this.widthChanging);
                }
                this.widthChanging = false;
                console.log('[moveEndUp] Flag:', this.widthChanging);
            },
            refresh() {
                this.pageWidth = document.documentElement.clientWidth;
                if (this.$refs.panel.offsetWidth > this.maximum) {
                    this.$refs.panel.style.width = this.maximum + "px";
                    this.buttonType = 'max';
                }
                else if (this.$refs.panel.offsetWidth < this.minimum) {
                    this.$refs.panel.style.width = this.minimum + "px";
                    this.buttonType = 'min';
                }
                if (this.pageWidth <= 380) {
                    this.buttonType = 'hidden';
                }

                console.log('[refresh] pageWidth:', this.pageWidth);
            }
        },

        created() {
            eventBus.$on('togglePanel', data => {
                this.activePanel = data.panelName;
            })
        },
        mounted() {
            this.pageWidth = document.documentElement.clientWidth;
            this.$nextTick(() => {
                this.bindEvents()
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
    .page__panel {
        height: 100%;
        min-height: 100%;
        background-color: #fff;
    }

    .page__panel_left {
        z-index: 3;
        display: inline-block;
        position: relative;
        margin-left: 60px;
        -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    }

    .controls {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #f2f2f2;
        &__block {
            display: flex;
            padding-top: 8px;
        }
    }

    .button {
        &_change-width_min {
            background: url("./img/panel-resize-right.svg") center no-repeat;
            &:hover {
                background: url("./img/panel-resize-right_act.svg") center no-repeat;
            }
        }
        &_change-width_middle {
            background: url("./img/panel-resize-manually.svg") center no-repeat;
            &:hover {
                background: url("./img/panel-resize-manually_act.svg") center no-repeat;
            }
        }
        &_change-width_max {
            background: url("./img/panel-resize-left.svg") center no-repeat;
            &:hover {
                background: url("./img/panel-resize-left_act.svg") center no-repeat;
            }
        }
        &_change-width_hidden {
            display: none;
        }
        &_messages{

        }
        &_showroom{
            background: url("./img/showroom.svg") center no-repeat;
            &:hover{
                background: url("./img/showroom_act.svg") center no-repeat;
            }
        }
        &_mailbox{
            background: url("./img/mailbox.svg") center no-repeat;
            &:hover{
                background: url("./img/mailbox_act.svg") center no-repeat;
            }
        }
        &_newsfeed{
            background: url("./img/newsfeed.svg") center no-repeat;
            &:hover{
                background: url("./img/newsfeed_act.svg") center no-repeat;
            }
        }
        &_guestbook{
            background: url("./img/guestbook.svg") center no-repeat;
            &:hover{
                background: url("./img/guestbook_act.svg") center no-repeat;
            }
        }

    }

    @media screen and (max-width: 380px) {
       [class*='button_change-width'] {
            display: none;
        }
    }

    .profile__controls {
        height: 55px;
    }

    .profile__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 16px;
        height: 204px;
    }

    .header {
        &__userpic {
            width: 104px;
            height: 104px;
            border-radius: 52px;
            background: #fff url("./profile/img/avatar.png") center no-repeat;
        }
        &__user-name {
            width: 100%;
            margin: 0px;
            font: normal 32px/28px RistrettoPro-Regular;
            color: #000;
            margin-top: 15px;
            text-align: center;
        }
        &__iser-info {
            width: 100%;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            line-height: 12px;
            color: #999;
            text-align: center;
            margin-top: 11px;
            margin-bottom: 22px;
            padding: 0 36px;
        }
        &__button {
            margin-bottom: 24px;
        }
        &__button:last-child {
            margin-bottom: 0px;
        }
    }

</style>
