<template>
    <div class="side-bar page__side-bar">
        <SidebarItems></SidebarItems>
    </div>
</template>

<script>
    import SidebarItems from './SidebarItems.vue'

    export default {
        name: 'Sidebar',
        components: {
            SidebarItems,
        },
        props: {
            msg: String,
            items: Array,
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
    .side-bar {
        display: block;
        width: 56px;
        background-color: rgba(100%, 100%, 100%, .7);
        box-sizing: border-box;
     /*   border-right: 1px solid #f2f2f2; */
        min-height: 100%;
        -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    }

    .page {
        &__side-bar {
            z-index: 15;
            position: absolute;
            top: 0;
            left: 0;
            margin-right: 4px;
        }
    }
</style>
