<template>

    <ul class="side-bar__items">
        <li v-for="item in items" v-bind:key="item.buttonName" class="side-bar__item">
            <a :class="['side-bar__button side-bar__button_' + item.buttonName]" href="#"
               @click="togglePanel(item.buttonName)"></a>
        </li>
    </ul>
</template>

<script>
    import {eventBus} from '../main';

    export default {
        name: 'SidebarItems',
        data: function () {
            return {
                items: [
                    {buttonName: 'search'},
                    {buttonName: 'profile'},
                    {buttonName: 'comments'},
                    {buttonName: 'events'}
                ],
                leftPanelContent: 'none'
            };
        },
        methods: {
            togglePanel: function (clickedPanel) {
                eventBus.$emit('togglePanel', {
                    panelName: clickedPanel
                });

            }
        }

    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
    .side-bar {
        &__items {
            padding: 0;
        }
        &__item {
            float: left;
            width: 44px;
            height: 44px;
            padding: 10px 6px;
            list-style-type: none;
        }
        &__button {
            display: block;
            width: 44px;
            height: 44px;
            background-position: center;
            &_search {
                background-image: url("./profile/img/sidebar-search-icon.svg");
                &:hover {
                    background-image: url("./profile/img/sidebar-search-icon_act.svg");
                }
            }
            &_profile {
                background-image: url("./profile/img/sidebar-profile-icon.svg");
                &:hover {
                    background-image: url("./profile/img/sidebar-profile-icon_act.svg");
                }
            }
            &_comments {
                background-image: url("./profile/img/sidebar-chat-icon.svg");
                &:hover {
                    background-image: url("./profile/img/sidebar-chat-icon_act.svg");
                }
            }
            &_events {
                background-image: url("./profile/img/sidebar-project-icon.png");
                &:hover {
                    background-image: url("./profile/img/sidebar-project-icon_act.png");
                }
            }
        }
    }
</style>
