<template>
    <div id="app">
        <Map></Map>
        <Sidebar/>
        <Search></Search>
        <Profile></Profile>
    </div>
</template>

<script>
    import './assets/sass/main.scss'
    import Map from './components/Map.vue'
    import Sidebar from './components/Sidebar.vue'
    import Search from './components/Search.vue'
    import Profile from './components/Profile.vue'

    import {eventBus} from './main';

    export default {
        name: "app",
        components: {
            Map,
            Sidebar,
            Search,
            Profile
        },
        data() {
            return {
                visible: false,
                activePanel: 'none'
            }
        },
        created() {
            eventBus.$on('togglePanel', data => {
                this.activePanel = data.panelName;
            })
        }
    };
</script>

<style lang="scss">
</style>
