html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.panel_width_320 {
  width: 320px;
}

.panel__padding {
  padding-left: 16px;
  padding-right: 16px;
}

.page__panel_left {
  float: left;
}

.button {
  display: block;
  width: 40px;
  height: 40px;
}

.button_features {
  background: url("~@/components/img/panel-options-icon.svg") center no-repeat;
}

.button_features:hover {
  background: url("~@/components/img/panel-options-icon_act.svg") center no-repeat;
}

.button_close {
  background: url("~@/components/img/panel-close-icon.svg") center no-repeat;
}

.button_close:hover {
  background: url("~@/components/img/panel-close-icon_act.svg") center no-repeat;
}
